USE [master]
GO
/****** Object:  Database [Platform]    Script Date: 5/01/2026 7:10:04 p. m. ******/
CREATE DATABASE [Platform]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Platform', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Platform.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Platform_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Platform_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Platform].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Platform]
GO
/****** Object:  User [admin]    Script Date: 5/01/2026 7:10:04 p. m. ******/
CREATE USER [admin] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Schema [App]    Script Date: 5/01/2026 7:10:05 p. m. ******/
CREATE SCHEMA [App]
GO
/****** Object:  Schema [Auth]    Script Date: 5/01/2026 7:10:05 p. m. ******/
CREATE SCHEMA [Auth]
GO
/****** Object:  Schema [Finance]    Script Date: 5/01/2026 7:10:05 p. m. ******/
CREATE SCHEMA [Finance]
GO
/****** Object:  Schema [Inventory]    Script Date: 5/01/2026 7:10:05 p. m. ******/
CREATE SCHEMA [Inventory]
GO
/****** Object:  Table [App].[Loans]    Script Date: 5/01/2026 7:10:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [App].[Loans](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Term] [int] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[RequestedAt] [datetime2](7) NULL,
	[ReviewedAt] [datetime2](7) NULL,
	[ReviewedBy] [uniqueidentifier] NULL,
	[ReviewNotes] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Loans] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Auth].[Accounts]    Script Date: 5/01/2026 7:10:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Auth].[Accounts](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NULL,
	[Type] [varchar](255) NOT NULL,
	[Provider] [varchar](255) NOT NULL,
	[ProviderAccountId] [varchar](255) NOT NULL,
	[RefreshToken] [text] NULL,
	[AccessToken] [text] NULL,
	[ExpiresAt] [bigint] NULL,
	[IdToken] [text] NULL,
	[Scope] [text] NULL,
	[SessionState] [text] NULL,
	[TokenType] [varchar](255) NULL,
 CONSTRAINT [PK__Accounts__3213E83FFFBE8431] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Auth].[Permissions]    Script Date: 5/01/2026 7:10:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Auth].[Permissions](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Description] [text] NULL,
	[Status] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK__Permissions__3213E83F8986953C] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Auth].[RolePermissions]    Script Date: 5/01/2026 7:10:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Auth].[RolePermissions](
	[RoleId] [uniqueidentifier] NOT NULL,
	[PermissionId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK__RolePermissions__RoleId_PermissionId] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC,
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Auth].[Roles]    Script Date: 5/01/2026 7:10:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Auth].[Roles](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Status] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK__Roles__3213E83F8E286D4E] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Auth].[Sessions]    Script Date: 5/01/2026 7:10:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Auth].[Sessions](
	[Id] [uniqueidentifier] NOT NULL,
	[SessionToken] [nvarchar](max) NOT NULL,
	[UserId] [uniqueidentifier] NULL,
	[Expires] [datetime2](7) NOT NULL,
 CONSTRAINT [PK__Sessions__3213E83F6D1DFCA1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Auth].[UserRoles]    Script Date: 5/01/2026 7:10:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Auth].[UserRoles](
	[RoleId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK__UserRoles__6EDEA1531A203E84] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Auth].[Users]    Script Date: 5/01/2026 7:10:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Auth].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NULL,
	[Email] [varchar](255) NOT NULL,
	[Password] [varchar](500) NULL,
	[Image] [varchar](500) NULL,
	[Phone] [varchar](50) NULL,
	[UserTypeId] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[ExtraData] [nvarchar](max) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK__Users__3213E83F49253023] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Auth].[UserTypes]    Script Date: 5/01/2026 7:10:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Auth].[UserTypes](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Description] [varchar](500) NULL,
	[Status] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[Theme] [nvarchar](100) NULL,
	[DefaultLandingPage] [nvarchar](100) NULL,
	[LogoUrl] [nvarchar](1000) NULL,
	[AdditionalConfig] [nvarchar](max) NULL,
	[Language] [nvarchar](50) NULL,
 CONSTRAINT [PK__UserTypes__3213E83F] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 5/01/2026 7:10:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [App].[Loans] ([Id], [UserId], [Amount], [Term], [Status], [RequestedAt], [ReviewedAt], [ReviewedBy], [ReviewNotes], [CreatedAt], [UpdatedAt]) VALUES (N'ad2b8faf-f875-4a05-8192-c15d4bb8e06b', N'10000000-0000-0000-0000-000000000006', CAST(99998.00 AS Decimal(18, 2)), 12, N'Pending', CAST(N'2026-01-05T23:49:04.1753197' AS DateTime2), NULL, NULL, NULL, CAST(N'2026-01-05T23:49:04.1753462' AS DateTime2), CAST(N'2026-01-05T23:49:04.1754453' AS DateTime2))
GO
INSERT [Auth].[Permissions] ([Id], [Name], [Description], [Status], [CreatedAt], [UpdatedAt]) VALUES (N'e1d93604-6a4b-4468-ae77-00ea465042a0', N'users.update', N'Actualizar información de usuarios', 1, CAST(N'2025-09-13T11:26:43.930' AS DateTime), CAST(N'2025-09-13T11:26:43.930' AS DateTime))
INSERT [Auth].[Permissions] ([Id], [Name], [Description], [Status], [CreatedAt], [UpdatedAt]) VALUES (N'5449c302-93c8-4670-ba28-0567dba694ba', N'user_types.read', N'Consultar tipos de usuario', 1, CAST(N'2025-09-13T11:26:43.930' AS DateTime), CAST(N'2025-09-13T11:26:43.930' AS DateTime))
INSERT [Auth].[Permissions] ([Id], [Name], [Description], [Status], [CreatedAt], [UpdatedAt]) VALUES (N'8b2c5a4c-6945-4739-a918-057854dc8593', N'system.maintenance', N'Acceder al modo de mantenimiento', 1, CAST(N'2025-09-13T11:26:43.930' AS DateTime), CAST(N'2025-09-13T11:26:43.930' AS DateTime))
GO
INSERT [Auth].[RolePermissions] ([RoleId], [PermissionId]) VALUES (N'bbbbbbbb-bbbb-bbbb-bbbb-bbbbbbbbbbbb', N'e1d93604-6a4b-4468-ae77-00ea465042a0')
INSERT [Auth].[RolePermissions] ([RoleId], [PermissionId]) VALUES (N'2c0e910c-92fe-4a1a-b46c-2cfd10049295', N'5449c302-93c8-4670-ba28-0567dba694ba')
INSERT [Auth].[RolePermissions] ([RoleId], [PermissionId]) VALUES (N'bbbbbbbb-bbbb-bbbb-bbbb-bbbbbbbbbbbb', N'5449c302-93c8-4670-ba28-0567dba694ba')
GO
INSERT [Auth].[Roles] ([Id], [Name], [Description], [Status], [CreatedAt], [UpdatedAt]) VALUES (N'13131313-1313-1313-1313-131313131313', N'Vendedor', N'Gestión de ventas y atención a clientes', 1, CAST(N'2025-09-13T16:26:43.5423956' AS DateTime2), NULL)
INSERT [Auth].[Roles] ([Id], [Name], [Description], [Status], [CreatedAt], [UpdatedAt]) VALUES (N'14141414-1414-1414-1414-141414141414', N'Almacenero', N'Gestión de inventario y movimientos de stock', 1, CAST(N'2025-09-13T16:26:43.5423960' AS DateTime2), NULL)
INSERT [Auth].[Roles] ([Id], [Name], [Description], [Status], [CreatedAt], [UpdatedAt]) VALUES (N'15151515-1515-1515-1515-151515151515', N'Empleado', N'Acceso básico a funcionalidades según su área', 1, CAST(N'2025-09-13T16:26:43.5423964' AS DateTime2), CAST(N'2025-10-04T09:59:24.7358396' AS DateTime2))
GO
INSERT [Auth].[UserRoles] ([RoleId], [UserId]) VALUES (N'13131313-1313-1313-1313-131313131313', N'10000000-0000-0000-0000-000000000008')
INSERT [Auth].[UserRoles] ([RoleId], [UserId]) VALUES (N'15151515-1515-1515-1515-151515151515', N'10000000-0000-0000-0000-000000000006')
INSERT [Auth].[UserRoles] ([RoleId], [UserId]) VALUES (N'15151515-1515-1515-1515-151515151515', N'10000000-0000-0000-0000-000000000007')
GO
INSERT [Auth].[Users] ([Id], [Name], [Address], [Email], [Password], [Image], [Phone], [UserTypeId], [CreatedAt], [UpdatedAt], [ExtraData], [Status]) VALUES (N'10000000-0000-0000-0000-000000000001', N'Super Admin', N'', N'admin@test.com', N'$2a$12$Q1xFDoYrbBLDLZPS.xAzpel/xQGh6kMvtB6ypHhuPDn9UcStuLJ12', N'https://img.freepik.com/vector-premium/iconos-administrador_933463-89079.jpg', N'', N'11111111-1111-1111-1111-111111111111', CAST(N'2025-09-13T16:26:43.6430366' AS DateTime2), CAST(N'2025-10-03T19:21:44.4027680' AS DateTime2), N'{}', 1)
INSERT [Auth].[Users] ([Id], [Name], [Address], [Email], [Password], [Image], [Phone], [UserTypeId], [CreatedAt], [UpdatedAt], [ExtraData], [Status]) VALUES (N'10000000-0000-0000-0000-000000000002', N'Juan Pérez', N'', N'juan.perez@platform.com', N'$2a$12$Q1xFDoYrbBLDLZPS.xAzpel/xQGh6kMvtB6ypHhuPDn9UcStuLJ12', NULL, N'', N'11111111-1111-1111-1111-111111111111', CAST(N'2025-09-13T16:26:43.6430380' AS DateTime2), CAST(N'2025-10-02T18:01:32.3485372' AS DateTime2), N'{}', 1)
INSERT [Auth].[Users] ([Id], [Name], [Address], [Email], [Password], [Image], [Phone], [UserTypeId], [CreatedAt], [UpdatedAt], [ExtraData], [Status]) VALUES (N'10000000-0000-0000-0000-000000000003', N'María González', N'', N'maria.gonzalez@platform.com', N'$2a$12$Q1xFDoYrbBLDLZPS.xAzpel/xQGh6kMvtB6ypHhuPDn9UcStuLJ12', NULL, N'', N'51bbeb89-b07f-4293-b185-dd96fcb9de1e', CAST(N'2025-09-13T16:26:43.6430390' AS DateTime2), CAST(N'2025-10-03T01:38:29.4782941' AS DateTime2), N'{}', 1)
GO
/****** Object:  Index [IX_Loans_CreatedAt]    Script Date: 5/01/2026 7:10:05 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Loans_CreatedAt] ON [App].[Loans]
(
	[CreatedAt] DESC
)
INCLUDE([Status],[Amount]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Loans_ReviewedBy]    Script Date: 5/01/2026 7:10:05 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Loans_ReviewedBy] ON [App].[Loans]
(
	[ReviewedBy] ASC
)
WHERE ([ReviewedBy] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Loans_Status]    Script Date: 5/01/2026 7:10:05 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Loans_Status] ON [App].[Loans]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Loans_UserId]    Script Date: 5/01/2026 7:10:05 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Loans_UserId] ON [App].[Loans]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Accounts_UserId]    Script Date: 5/01/2026 7:10:05 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Accounts_UserId] ON [Auth].[Accounts]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Accounts__6786C2C75307AB87]    Script Date: 5/01/2026 7:10:05 p. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__Accounts__6786C2C75307AB87] ON [Auth].[Accounts]
(
	[Provider] ASC,
	[ProviderAccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Permissions__72E12F1B1B3B2B3F]    Script Date: 5/01/2026 7:10:05 p. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__Permissions__72E12F1B1B3B2B3F] ON [Auth].[Permissions]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RolePermissions_PermissionId]    Script Date: 5/01/2026 7:10:05 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_RolePermissions_PermissionId] ON [Auth].[RolePermissions]
(
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__72E12F1B32068C24]    Script Date: 5/01/2026 7:10:05 p. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__Roles__72E12F1B32068C24] ON [Auth].[Roles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Sessions_UserId]    Script Date: 5/01/2026 7:10:05 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Sessions_UserId] ON [Auth].[Sessions]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserRoles_RoleId]    Script Date: 5/01/2026 7:10:05 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_UserRoles_RoleId] ON [Auth].[UserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_UserTypeId]    Script Date: 5/01/2026 7:10:05 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Users_UserTypeId] ON [Auth].[Users]
(
	[UserTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__AB6E616447836532]    Script Date: 5/01/2026 7:10:05 p. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__Users__AB6E616447836532] ON [Auth].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [App].[Loans] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [App].[Loans] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [App].[Loans] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [Auth].[Accounts] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [Auth].[Permissions] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [Auth].[Permissions] ADD  DEFAULT (CONVERT([bit],(1))) FOR [Status]
GO
ALTER TABLE [Auth].[Permissions] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [Auth].[Permissions] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [Auth].[Roles] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [Auth].[Sessions] ADD  CONSTRAINT [DF__Sessions__Id__0B91BA14]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [Auth].[Users] ADD  CONSTRAINT [DF__Users__Id__628FA481]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [Auth].[Users] ADD  CONSTRAINT [DF__Users__CreatedAt__6383C8BA]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [Auth].[Users] ADD  CONSTRAINT [DF__Users__UpdatedAt__6477ECF3]  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [Auth].[Users] ADD  CONSTRAINT [DF__Users__ExtraData__656C112C]  DEFAULT (N'{}') FOR [ExtraData]
GO
ALTER TABLE [Auth].[UserTypes] ADD  CONSTRAINT [DF__UserTypes__Id__66603565]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [Auth].[UserTypes] ADD  CONSTRAINT [DF__UserTypes__Statu__6754599E]  DEFAULT (CONVERT([bit],(1))) FOR [Status]
GO
ALTER TABLE [App].[Loans]  WITH CHECK ADD  CONSTRAINT [FK_Loans_Users_ReviewedBy] FOREIGN KEY([ReviewedBy])
REFERENCES [Auth].[Users] ([Id])
GO
ALTER TABLE [App].[Loans] CHECK CONSTRAINT [FK_Loans_Users_ReviewedBy]
GO
ALTER TABLE [App].[Loans]  WITH CHECK ADD  CONSTRAINT [FK_Loans_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [Auth].[Users] ([Id])
GO
ALTER TABLE [App].[Loans] CHECK CONSTRAINT [FK_Loans_Users_UserId]
GO
ALTER TABLE [Auth].[Accounts]  WITH CHECK ADD  CONSTRAINT [FK__Accounts__UserId__3F466844] FOREIGN KEY([UserId])
REFERENCES [Auth].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Auth].[Accounts] CHECK CONSTRAINT [FK__Accounts__UserId__3F466844]
GO
ALTER TABLE [Auth].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK__RolePermissions__Permission] FOREIGN KEY([PermissionId])
REFERENCES [Auth].[Permissions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Auth].[RolePermissions] CHECK CONSTRAINT [FK__RolePermissions__Permission]
GO
ALTER TABLE [Auth].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK__RolePermissions__Role] FOREIGN KEY([RoleId])
REFERENCES [Auth].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Auth].[RolePermissions] CHECK CONSTRAINT [FK__RolePermissions__Role]
GO
ALTER TABLE [Auth].[Sessions]  WITH CHECK ADD  CONSTRAINT [FK__Sessions__UserId__440B1D61] FOREIGN KEY([UserId])
REFERENCES [Auth].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Auth].[Sessions] CHECK CONSTRAINT [FK__Sessions__UserId__440B1D61]
GO
ALTER TABLE [Auth].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK__UserRoles__RoleId__4F7CD00D] FOREIGN KEY([RoleId])
REFERENCES [Auth].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Auth].[UserRoles] CHECK CONSTRAINT [FK__UserRoles__RoleId__4F7CD00D]
GO
ALTER TABLE [Auth].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK__UserRoles__UserId__4E88ABD4] FOREIGN KEY([UserId])
REFERENCES [Auth].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Auth].[UserRoles] CHECK CONSTRAINT [FK__UserRoles__UserId__4E88ABD4]
GO
ALTER TABLE [Auth].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_UserTypes] FOREIGN KEY([UserTypeId])
REFERENCES [Auth].[UserTypes] ([Id])
GO
ALTER TABLE [Auth].[Users] CHECK CONSTRAINT [FK_Users_UserTypes]
GO
ALTER TABLE [App].[Loans]  WITH CHECK ADD  CONSTRAINT [CK_Loans_Amount] CHECK  (([Amount]>(0) AND [Amount]<=(1000000000)))
GO
ALTER TABLE [App].[Loans] CHECK CONSTRAINT [CK_Loans_Amount]
GO
ALTER TABLE [App].[Loans]  WITH CHECK ADD  CONSTRAINT [CK_Loans_Status] CHECK  (([Status]='Rejected' OR [Status]='Approved' OR [Status]='Pending'))
GO
ALTER TABLE [App].[Loans] CHECK CONSTRAINT [CK_Loans_Status]
GO
ALTER TABLE [App].[Loans]  WITH CHECK ADD  CONSTRAINT [CK_Loans_Term] CHECK  (([Term]>(0) AND [Term]<=(360)))
GO
ALTER TABLE [App].[Loans] CHECK CONSTRAINT [CK_Loans_Term]
GO
USE [master]
GO
